{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <h3>Table: tx_gjoexamplevalidation_domain_model_validation</h3>
    <h4>{validation.stringWithoutBreak} (ID: {validation.uid})</h4>

    <table class="table table-hover">

        <thead>
        <tr>
            <th>Label:
            </th>
            <th>Content
            </th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>Label: stringWithBreak
            </td>
            <td>{validation.stringWithBreak -> f:format.nl2br()}
            </td>
        </tr>

        </tbody>

    </table>

    <f:link.action action="findAll">zurück zur Listenansicht</f:link.action>

</f:section>